

.page {
	background: $bg1;



	&__main-block {
		padding: 114px 0px 70px 0px;
		position: relative;
	}

	&__main-block::after {
		content:url('../img/main/before.svg');
		position: absolute;
		right: 15%;
    bottom: -3%;
	}
}
.main-block {

	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		
		
	}

	&__body {
		display: flex;
		column-gap: 41.6px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		position: relative;
		@media (max-width: 768px) {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;

		}
	}

	&__description {
		max-width: 40%;
		padding: 51px 20px 67px 0px;

		@media (max-width: 768px) {
			max-width: 90%;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}
	
	&__title {
	}

	&__subtitle {
		font-size: 21px;
		line-height: 25px;
		margin: 22px 0px 0px 0px;
		font-family: 'Alegreya Sans';
	}

	&__button {
		margin: 36px 0px 0px 0px;

		@media (max-width: 768px) {
			position: relative;
			top: 0;
			left: 35%;
		}
	}

	&__image {
		flex: 0 1 489px;

		@media (max-width: 768px) {
			flex: 0 1 323px;
		}
	}

	&__pic {
		max-width: 100%;
		
		border-radius: 50%;
		top: 3%;
		position: relative;
	}

	&__row {
		max-width: 504px;
		padding: 30px 0px 0px 0px;
    margin-top: -67px;
		display: flex;
		@media (max-width: 768px) {
			display: none;
		}
	}
}





.subtitle {
}
.button {
	max-width: 163px;
	max-height: 54px;
	background: #E01F3D;
	border-radius: 100px;
	text-align: center;
	padding: 18px 0px;

	&__link {
		font-weight: 700;
		font-size: 16px;
		line-height: 18px;
		color: #FFFFFF;
	}
}
.paginator {
	position: absolute;
	top: 28%;
  right: -7%;

	@media (max-width: 768px) {
		display: none;
	}

	&__list {
		display: flex;
		flex-direction: column;

	}

	&__item {
		margin: 0px 0px 6px 0px;
		width: 18px;
		height: 18px;
		justify-content: center;
		display: flex;
		background-color: transparent;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		padding-top: 31%;
	}

	&__item-active {
		margin: 0px 0px 6px 0px;
		border: 1px solid #E01F3D;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		padding-top: 31%;
	}

	&__icon-active {
	}

	&__icon {
	}
}

.row {


	&__pic {
	}

	&__text {
		margin: 0px 0px 0px 12px;
	}
}
.collumn {

	&__row {
		display: flex;
		align-items: center;
		margin: 0px 23px 0px 0px;
	}
	&__row:last-child {
		margin-right: 0;
	}


}

