
.page {

	&__shop-block {
		padding: 95px 0px;
		position: relative;
	}

	&__shop-block::before {
		content:url('../img/shop/vector.svg');
		position: absolute;
		left: 7%;
    top: -3%;
	}


}
.shop-block {

	&__container {
		display: flex;
		position: relative;
	}

	&__menu {
		position: absolute;
		left: 55%;
    top: -10%;
	}

	&__icon {
	}

	&__body {
		display: flex;
		align-items: center;
	}

	&__image {
	}

	&__pic {
		max-width: 100%;
		border-radius: 50%;
		left: 0;
		top: 3%;
		position: relative;
	}

	&__description {
		max-width: 419px;
		padding: 0px 20px;
		margin: 30px 0px 0px 30px;
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		text-transform: uppercase;
		color: #292929;
		margin: 0px 0px 24px 0px;
		padding: 20px 0px 0px 0px;
	}

	&__text {
		margin: 0px 0px 27px 0px;
	}

	&__columns {
		display: flex;
		margin: 0px 0px 24px 0px;
	}

	&__order {
		display: flex;
	}

	&__price {
		font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 60px;
	text-transform: uppercase;
	color: #151515;
	width: 148px;
	height: 60px;
	margin: 0px 13px 0px 0px;
	}

	&__button {
		width: 163px;
		height: 60px;
		background: #E01F3D;
		border-radius: 100px;
	}
}
.container {
}
.title {
}
.text {
}
.columns {

	&__column {
		margin: 0px 90px 0px 0px;
	}

	&__column:last-child {
		margin: 0;
	}

}
.column {

	&__text {
	}

	&__value {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}
}
.button {

	&__link {
	}
}
