// --------------------------------- ШРИФТЫ -----------------------------------------------------



// ----------------------------------------------------------------------------------------------------

@import "nullstyle.scss";

// ---------------------------PEREMENNIE--------------------------------------------------------------

// $minWidth: 320px;
// $maxWidth: 1100px;
// $maxWidthContainer: 915px;
// $md1: $maxWidthContainer + 15;
// $md2: 767.98;
// $md3: 479.98;

// ------------------------------------------------------------------------------------------------------

$bg1: #F5F5F5;
$bg2: #F8FAF9;
$bg3: #FFFFFF;

// -------------------------------- TEXT COLOR -------------------------------------------------------

$colbtn: #E01F3D;
$txcol1: #292929;
$txcol2: #666666;

// --------------------------------- TITLE STYLE ----------------------------------------------------


%tpltitle1 {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 52px;
	text-transform: uppercase;
	color: #292929;
}

%tpltitle2	{
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #292929;
}

%tpltitle1mob {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	text-transform: uppercase;
	color: #292929;
}

%tpltitle2mob	{
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	text-transform: uppercase;
	color: #292929;
}

%tpltext	{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #666666;
}


@mixin shrift($ff,$fst,$fw,$fz,$lh,$col) {
font-family: $ff;
font-style: $fst;
font-weight: $fw;
font-size: $fz;
line-height: $lh;
color: $col;
}






// ----------------------------------------НАЧАЛО ВЕРСТКИ----------------------------

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}

body {
	&.lock {
		overflow: hidden;
	}
}

.page {
	flex: 1 1 auto;
	
}

// ------------ запись для технического контейнера ------------------------------

// [class*="__container"] {
// 	max-width: 945px;
// 	margin: 0 auto;
// 	padding: 0 15px;
// }

.container {
	max-width: 945px;
	margin: 0 auto;
	padding: 0 15px;
	}

	// --------------------------------------------------------------------------------

	* img {
		max-width: 100%;
	}
 


// @media (max-width:1070px) {
// 	.container {
// 		max-width: 880px;
// 	}
// }

// @media (max-width:999px) {
// 	.container {
// 		max-width: 780px;
// 	}
// }

// @media (max-width:900px) {
// 	.container {
// 		max-width: 768px;
// 	}
// }




.title {
	@extend %tpltitle1;
}

.text {
	@extend %tpltext;
}

//--------------------------------------HEADER-------------------------------------------

@import "./header.scss";

// ---------------------------------------- MAIN -----------------------------------------

@import "./mainsection.scss";

//------------------------------------------ QUESTION -----------------------------------

@import "./questions.scss";

// ----------------------------------------- SHOP -------------------------------------------

@import "./shop.scss";

//--------------------------------------- REWIEWS------------------------------------------

@import "./rewiewsblock.scss";

// ----------------------------------------------- FORM -----------------------------------

@import "./formblock.scss";




// ------------------------------------- FOOTER -------------------------------------------

.footer {

	&__container {
		display: flex;
	}
}

